@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   transition: .2s linear;
}

*::selection{
   background-color: #fff;
   color:#3d3d3d;
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
   scroll-behavior: smooth;
   scroll-padding-top: 8rem;
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: #1dc11d;
   border-radius: 5rem;
}

body{
   background-color: #3d3d3d;
}

section{
   max-width: 1200px;
   margin:0 auto;
   padding:2rem;
}

.header{
   position: fixed;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: #4b4b4b;
}

.header .flex{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.header .flex .logo{
   font-size: 2.5rem;
   color:#fff;
}

.header .flex .navbar a{
   margin-left: 2rem;
   color:#aaa;
   font-size: 2rem;
}

.header .flex .navbar a:hover{
   color:#1dc11d;
}

/* media queries  */

